.blog {
  margin-bottom: 120px;

  @media (max-width: $desktop) {
    margin-bottom: 70px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 60px;
  }
}

.blog__heading {
  letter-spacing: 0.03em;

  @media (max-width: $desktop) {
    margin: 0 0 19px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 19px;
  }
}

.blog__heading-link {
  margin: 0 0 65px;

  @media (max-width: $tablet) {
    margin: 0 0 56px;
  }
}

.blog__articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;

  @media (max-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(min-content, 300px);
    row-gap: 50px;

    .article {
      aspect-ratio: 2.27 / 1;
    }
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(256px, 256px);
    gap: 0;
    row-gap: 40px;
    padding: 0 100px;

    .article {
      aspect-ratio: 1 / 1.77;
    }
  }

  @media (max-width: 550px) {
    padding: 0 30px;
  }

  @media (max-width: 400px) {
    padding: 0;
  }
}
