.catalog__container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 4%;
  position: relative;

  @media (max-width: $desktop) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet) {
    gap: 40px;
  }
}

.catalog__filter {
  @media (max-width: $desktop) {
    position: absolute;
    width: 423px;
    height: auto;
    left: -100%;
    top: 0;
    opacity: 0;
    background-color: $color-white;
  }

  @media (max-width: $tablet) {
    position: absolute;
    width: 423px;
    height: auto;
    left: -100%;
    top: 0;
    opacity: 0;
    background-color: $color-white;
  }

  @media (max-width: 500px) {
    width: 350px;
  }

  @media (max-width: 400px) {
    width: 270px;
  }

  &.active {
    // display: none;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 1;
    position: relative;

    @media (max-width: $tablet) {
      left: 15px;
    }

    @media (max-width: 400px) {
      left: 25px;
    }
  }
}

.catalog__filter-toggle {
  display: none;

  @media (max-width: $desktop) {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 25px 35px;
    border: none;
    color: $color-white;
    background-color: $color-accent;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.catalog__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 30px;
  padding-bottom: 40px;

  @media (max-width: $desktop) {
    padding-bottom: 88px;
    gap: 37px 30px;
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    row-gap: 24px;
  }
}

.catalog__pagination {
  border-top: 1px solid $color-accent-second;
  padding-top: 25px;
  padding-bottom: 64px;

  @media (max-width: $tablet) {
    border: none;
    padding-top: 2px;
    padding-bottom: 66px;
  }
}

.catalog__pagination-container {
  padding-left: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $desktop) {
    padding-left: 45px;
    justify-content: space-between;
  }

  @media (max-width: $tablet) {
    padding-left: 15px;
    justify-content: center;
  }
}

.catalog__button-prev,
.catalog__button-next {
  text-decoration: none;
  border: none;
  background: transparent;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  cursor: pointer;
  flex-basis: 20%;
  text-align: left;
  color: inherit;

  &:hover {
    color: $color-accent;
  }

  @media (max-width: $tablet) {
    display: none;
  }
}

.catalog__button-next {
  text-align: right;
}

.catalog__pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__pagination-link {
  text-decoration: none;
  padding: 7px;
  color: $color-text-second;

  @media (max-width: $tablet) {
    padding: 7px 12px;
  }
}

.catalog__pagination-link--active {
  color: $color-text-first;
}
