.faq {
  margin-bottom: 110px;

  @media (max-width: $desktop) {
    margin-bottom: 70px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 55px;
  }
}

.faq__heading {
  letter-spacing: 0.03em;
  margin-bottom: 45px;

  @media (max-width: $desktop) {
    margin-bottom: 48px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 28px;
  }
}

.faq__list {
  max-width: 970px;
  margin: 0 auto;
}

.faq__item {
  padding: 44px 50px 42px 42px;
  border: 1px solid $color-accent;
  margin-bottom: -1px;

  @media (max-width: $desktop) {
    padding: 42px 50px 45px;
  }

  @media (max-width: $tablet) {
    padding: 15px 23px 20px;
  }
}

.faq__list-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 130%;
  cursor: pointer;
}

.faq__item-description {
  @media (max-width: $desktop) {
    margin: 28px 0 0;
    padding-left: 0;
  }

  @media (max-width: $tablet) {
    padding-left: 0;
    margin-top: 13px;
  }
}
