.form-filter {
  position: relative;

  @media (max-width: $desktop) {
    max-width: 423px;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  @media (max-width: $tablet) {
    max-width: 85%;
  }
}

.form-filter__close {
  display: none;
  stroke: $color-white;


  @media (max-width: $desktop) {
    top: -16px;
    right: -16px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $color-black;
    border-radius: 50%;
  }
}

.form-filter fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 1px solid $color-accent;
  margin-top: -1px;
  padding: 23px 25px 20px;

  &:last-of-type {
    margin-bottom: 35px;
  }

  @media (max-width: $desktop) {
    border-right: none;
    border-left: none;

    &:first-of-type {
      border-top: none;
    }
  }
}

.form-filter legend {
  font-size: 0;
}

.form-filter header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-filter h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}


.form-filter label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7.5px 0;
  margin-left: 10px;
  font-size: 13px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid $color-accent;
  }

  &:first-of-type {
    margin-top: 17px;
  }
}

.form-filter input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;

  &:checked {
    background-color: $color-accent;
  }
}

.form-filter__submit,
.form-filter__reset {
  width: 100%;
  padding: 25px;
  margin-bottom: 25px;
  border: none;
  background-color: transparent;

  @media (max-width: $desktop) {
    width: calc(100% - 80px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $desktop) {
    width: calc(100% - 30px);
  }
}

.form-filter__submit {
  color: $color-white;
  background-color: $color-accent;
}

.form-filter__reset {
  color: $color-accent;
  background-color: $color-white;
  border: 1px solid $color-accent;
}
