.menu-toggle {
  display: none;
  border: none;
  background: transparent;
  text-align: left;
  stroke: $color-text-first;
  padding: 16px;
  width: fit-content;

  @media (max-width: $tablet) {
    display: block;
  }
}
