.navigation {
  &--footer {
    justify-self: flex-start;
    margin-top: 6px;
    padding-left: 91px;

    @media (max-width: 1040px) {
      padding-left: 0;
      margin-top: 0;
    }
  }
}

.navigation__container {
  @media (max-width: $desktop) {
    padding: 0 15px;
  }

  @media (max-width: $tablet) {
    padding: 0;
  }
}

.navigation__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 35px;
  padding: 0 18px;

  @media (max-width: $desktop) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  @media (max-width: $tablet) {
    padding: 0 3px;
    gap: 21px;
  }

  &--footer {
    display: grid;
    grid-template-columns: max-content max-content;
    row-gap: 24px;
    padding: 0;
    column-gap: 72px;

    @media (max-width: $desktop) {
      column-gap: 87px;
    }

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      margin-bottom: 47px;
      height: auto;
      opacity: 1;

      & .navigation__item:nth-child(4) {
        margin-bottom: 22px;
      }
    }
  }
}

.navigation__item {
  @media (min-width: $desktop) {
    &._hidden {
      display: none;
    }
  }

  @media (max-width: $desktop) {
    width: 100%;
  }
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color-accent;
  }

  @media (max-width: $desktop) {
    color: $color-white;
    font-weight: 500;
  }
}

.navigation__link--tablet {
  @media (max-width: $desktop) {
    font-size: 24px;
    line-height: 36px;
  }
}
