// Fonts
$ff-first: 'Poppins', 'Tahoma', sans-serif;
$ff-second: 'Cormorant Garamond', 'Book Antiqua', serif;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-text-first: #1d1613;
$color-text-second: #9b9997;

$color-accent: #a87b62;
$color-accent-second: #f0eae4;
$color-mask: rgba(86, 64, 52, 0.7);

// Size

$desktop: 1024px;
$tablet: 768px;
